* {
    margin: 0;
    padding: 0;
    font-size: 63%;
}

body {
    background-color: #f4f4f4;
    min-width: 1460px;
}

li {
    list-style: none;
    float: left;
}

ul {
    margin: 0;
}

img {
    vertical-align: middle;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #c81623;
}

input {
    margin: 0;
    outline: none;
    font-size: 16px;
    /* border: none; */
}


/* .clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
} */

.none {
    position: absolute;
    display: none;
    top: 3rem;
    padding: 1rem;
    background-color: white;
    border: .05rem solid gray;
    border-top: none;
    margin-left: -.05rem;
}

.w {
    width: 80%;
    max-width: 119rem;
    margin: 0 auto;
}